<h1>About this website</h1>

<a href="{% url 'home' %}">Start Again</a>

<p>This website takes whatever you type into the text box and counts how many times each word in your text appears. The website first records a word when it first sees that word, then it counts up each time it sees that word again. The website also organizes the words as well. You can type anything you wish into the text box and have the words counted. Push the "Count!" button to have your words counted, and "Start Again" to go back to the homepage. You can also push "Start Again" at the top of this page to go back. Hope you have fun!</p>